body, html {
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    font-family:'Manrope', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #FAF2D4;
}

.project-page {
    background-color: #FFFFFF;
}

/* Sticky Footer + Header */

.content-before {
    min-height: 100vh;
}

.sticky-div {
    background-color: #026378;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 10;
    margin-top: -50px; 
}

#sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color:  #026378;
    padding: 0 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
    display: flex;
    justify-content: flex-end;
    /*clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);*/
    z-index: 5;
}

/*dropdown styling*/

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFBED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show Dropdown Content on Hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Links */
.dropdown-content a {
    color:#026378;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: clamp(.8em, 2.5vw, 2em);
}

/* Change Dropdown Link Color on Hover */
.dropdown-content a:hover {
    background-color:#EE98FD;
    color:#FFFBED;
}

@media (max-width: 768px) {

.dropdown-content {
    min-width: auto;
}
    
.dropdown-content a {
    padding: 5px
}

}

/*end drop down*/



/*#sticky-header::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FAF2D4; 
    clip-path: polygon(0% 90%, 55% 9%, 60% 0%, 56% 0%); 
    z-index: -1; 
  }*/

.menu {
    margin-right: 2.75%;
    display: flex;
    flex-direction: row;
}

.logo {
    display: inline-block;
    margin-right: auto;
    color:#FFFBED;
    font-size: 2em;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    align-items:center;
}

.spacer {
    flex-grow: 1;
}

.menu nav{
    display: flex;
    align-items: center;
}

.nav a {
    margin-left: 48px;
}


/*-------------------------------*/



/* Background polygons */

.hero-div {
    width: 100%;
    /* Adjust height as needed (from 0 to 100vh) Changes height of background polygon! */
    height: 100vh; 
    /*------------*/
    position: relative;
    overflow: hidden; /* Ensure that any content outside the bounds of the div is hidden */
    /*background: hsl(0, 0%, 0%); */ /* The lower color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #026378; /* The upper color */
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%); /* Adjust these points to match the angle of your image */
    /*clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);*/
    /*box-shadow: 0 8px 0 0 #000;*/
    z-index: 1;
}

.hero-div::after {
    content: '';
    position: absolute;
    top: calc(100% - 10px); /* Offset by the thickness of the desired stroke */
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    border-bottom: 10px solid #FAF2D4; /* This creates a border that simulates a stroke */
    z-index: 2; /* Make sure it is above the hero-div content */
}


/*-------------------------------*/

/* Welcome: landing page */

/*
.header-container h1 {
    font-size: 8em; Large text for the welcome message
    color: #FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%
}

.subheader-container h1 {
    margin-top: 10px;
    font-size: 8em; Large text for the welcome message
    color: #FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%
}
*/

.welcome-container {
    width: 100%;
    /*height: 1200px;*/
    flex-shrink: 0;
    color: #FAF2D4;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 2;
    /*background-image: url('heroshape.png');
    background-size: cover;
    background-position: center;*/
}

.header-container h1 {
    /* responsive font-size, min, value, max */
    font-size: clamp(4em, 8vw, 8em); /* 8vw = 8% of view width */
    color: #FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%
    margin-bottom: 30px;
}

.subheader-container h1 {
    /* responsive font-size, min, value, max */
    font-size: clamp(4em, 8vw, 8em); /* 8vw = 8% of view width */
    color: #FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%
}

.header-container, .subheader-container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header-container {
    margin-left: 12%;
}

/*.header-container {
    margin-left: 500px;
    margin-right: 340px;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    justify-content: center;
}

.subheader-container {
    margin-left: 500px;
    margin-right: 340px; 
    z-index: 2;
    justify-content: center;
}*/


.about-section {
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 60px;
   display: flex;
   align-items: center;
   flex-direction: row;;
}

.about-section-text {
    margin-right: 0px;
    flex: 2;
}

/* mini shows up between h3s on small screens */
.scrolldown-hand-mini {
    display: none; /* Hide on large screens */
}

.scrolldown-hand {
    min-width: 20%;
    max-width: 28%;
    height: auto;
    flex: 1;
}

.scrolldown-hand-mini img {
    max-width: 50%;
    height: auto;
}

.welcome-hand {
    width: 20vw; /* 20% of the viewport width (i.e. 20% of screen width) */
    height: auto;
    min-width: 175px;
    max-width: 300px;
    transform: scaleX(-1) rotate(-11deg);
}

/* Responsive adjustments */
/* For tablets or narrow screens */
@media (max-width: 768px) {

    .scrolldown-hand {
        display: none;
    }

    .scrolldown-hand-mini {
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
        width: 100%;
        height: auto; 
    }

    .about-section {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/* For Phones */
@media (max-width: 480px) {
    .header-container {
        flex-direction: column;
        margin-left: 0;
    }

    .header-container h1 {
        margin-bottom: 10%;
    }
}

@media (max-width: 380px) {
    .subheader-container h1 {
        font-size: clamp(3em, 8vw, 8em); /* 8vw = 8% of view width */
    }
}
/*------------------------*/

h1 {
    color: #FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 110%
}

h2 {
    font-size: 5em;
    font-weight: 400;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
}   

h3 {
    /*font-size: 2.9em;*/
    font-size: clamp(0.5em, 5vw, 2.9em);
    color:#026378;
    font-weight: 200;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
}

p {
    font-size: 2em;
    font-family:'Manrope', 'Arial', 'Helvetica', sans-serif;
    /*margin-top: -20px; *//* Adjust spacing between welcome message and subtitle */
}

a {
    color:#FAF2D4;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    /*font-size: 2em;*/
    text-decoration: none;
}

a:hover {
    color:#EE98FD
}

.large-padding {
   /* padding: 20px;*/
   font-size: clamp(.75em, 2vw, 1.5em);
}


.main-content {
    flex: 1;
   
}

/* Spotlight projects */

.project-containers-section {
    padding: 80px;
    gap: 100px;
}
.project-container {
    /*height: 50%;*/
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 50%;
    /*overflow-y: auto;*/

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;

    /* Add spacing between project containers */
    margin-bottom: 5%;

   /* border-radius: 9px;*/
    background-color: #FFFBED;
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    /*z-index: 1;*/

    /* Other styling for project containers */
}

.project-description {
    flex: 1;
    margin-bottom: 20px;
    /*margin-right: 20%;*/
}

.project-description h2 {
    /*font-size: 5em;*/
    /* responsive font-size, min, value, max */
    font-size: clamp(1em, 6vw, 5em); /* 8vw = 8% of view width */
    margin-bottom: 0%;
}

.project-description p {
    /*font-size: 2em;*/
    /* responsive font-size, min, value, max */
    font-size: clamp(0.5em, 3vw, 2em); /* 8vw = 8% of view width */
    margin-top: 0%;
}

.image-container {
    flex: none; /* Do not allow the image container to grow or shrink */
    width: 35%; /* Set a fixed width for the image container */
    height: 100%; /* Set a fixed height for the image container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-left: 1rem; /* Add some space between the description and the image */
}
.project-image {
    width: 100%; /* The image will fill the container's width */
    height: auto; /* The image will maintain its aspect ratio */
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

/*.project-image {
    position: absolute;
    right: 10%;
    top: 5%;
    height: 80%;
    margin-bottom: 10%;
    width: 25%;
    height: auto;
    margin-left: 2rem;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.1s;
    z-index: 1;
}*/

.project-container:hover .project-image {
    filter: none; 
}

/* Media query for smaller screens */
@media (max-width: 768px) {

    .project-containers-section {
        padding: 30px;
    }

    .project-container {
      flex-direction: column; /* Stack children on top of each other */
      text-align: center; /* Center text when stacked */
      height: auto;
      margin-top: auto;
      padding: 5%;
      margin-left: 0;
      margin-right: 0;
    }
  
    .project-image {
        /*max-width: 100%; Image takes full width 
        margin-left: 0; Reset left margin 
        margin-top: 1rem; Space between text and image when stacked */
        display: none;
    }
}

#soundcloud-project:hover {
   /* background-color: #F27322; */
   color:#EE98FD;
}

#iCoach-project:hover {
    /* background-color: #008080; */
    color:#EE98FD;

}

#OliverTutor-project:hover {
    /*background-color: #A7FFD5; */
    color:#EE98FD;
}

#GratefulSpace-project:hover {
    background-color: #5EBBC8;
}

/*-----------------------------*/

.nav-button {
    background-color: transparent;
    color: #FAF2D4;
    border: none;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-size: clamp(1em, 2.5vw, 2em);
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.nav-button-current {
    background-color: transparent;
    color: #EE98FD;
    border: none;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-size: clamp(1em, 2.5vw, 2em);
    font-style: normal;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease;
}


.nav-button:hover {
    color: #EE98FD;
}


@media (max-width: 768px) {

.nav-button {
    padding: 10px 0px;
}

.nav-button-current {
    padding: 10px 0px;
}

}
/* About Page Specific styling begins here */

.about-header-container {
    width: 40%;
    height: auto;
    flex-shrink: 0;
    /*background-image: url('about_header_container_shape_shorter.png');*/
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
    padding: 20px;
    position: relative;
    z-index: 0;
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);*/
}

.about-header-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #026378;
    clip-path: polygon(0% 20%, 100% 0%, 87% 100%, 0% 95%);
}

.about-header-container img {
    width: auto;
    max-height: auto;
    flex: 4;
    margin-top: 10px;
    margin-bottom: 40px;
    z-index: 2 ;
}

.about-header-container h1 {
    flex:1;
    font-size: clamp(3em, 5vw, 5em);
    margin-bottom: 0px;
    margin-top: 90px;
    z-index: 2;
}

.about-body-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #026378;
    margin: 60px;
    margin-right: 15%;
    margin-top: 100px;
    flex: 2;

}

.about-top-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-bottom-section {
    width: auto;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color:#026378
}

.about-bottom-section h2 {
    font-size: clamp(2em, 2.5vw, 3em);
}

.about-bottom-section p {
    font-size: clamp(1em, 2.5vw, 1.5em);
}

.about-bottom-center {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about-bottom-left {
    flex: 1;
}

.about-bottom-right {
    flex: 1;
}

@media (min-width: 768px) and (max-width: 1200px) {

.about-header-container img {
    width: 75%;
}

}

@media (max-width: 768px) {
    .about-header-container {
        width: 89%; /* Stacks the containers on smaller screens */
        margin: 20px; /* Adjust spacing for a stacked layout */
        margin-left: 0px;
        margin-right: auto;
    }

    .about-header-container img {
        width: 50%;
    }

    .about-body-container {
        margin: 5% 15%;
        width: auto;
    }

    .about-top-section {
        flex-direction: column; /* Changes the layout to a column for stacking */
    }
    .about-bottom-section {
        flex-direction: column;
        align-items: center; /* Center-align items for a more balanced look */
        margin: 20px; /* Adjust margins as needed for smaller screens */
    }

    .about-bottom-left, .about-bottom-center, .about-bottom-right {
        margin-right: 0; /* Remove right margin on smaller screens */
        width: 100%; /* Make each section take full width to utilize space */
    }
}

/* case study pages */

.wrapper {
    display: flex;
}

.tabs-container {
    /*width: 100%;*/
    width: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    position: sticky;
    top: 10%; /* Stick to the top of the viewport */
    height: 100vh;
    overflow-y: auto;
    
}

/* Hide checkbox inputs */
.tab-input {
    display: none; /* Hide checkbox inputs */
    position: fixed; /* Position fixed to keep them at the top */
} 

/* Style tabs */
.tab-label {
    display: block;
    cursor: pointer;
    padding: 1.5% 8%;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-size: clamp(1em, 2.5vw, 2em);
    color:#026378;
    background-color: #FFFFFF;
    border: 2px solid #026378;
    text-align: center;
    /*border-bottom: 1px solid #026378;
    border-top: 1px solid #026378; */
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
}

.tab-label:hover {
    color:#EE98FD;
    border-color: #EE98FD;
}

/* Style tab contents */
.tabs {
    margin-top: 8%;
    display: block;
    align-items: center;
    width: 100%;
}

/* Show tab content when checkbox is checked */
.tab-input:checked + .tab-label + .tab-content {
    display: block;
}

.casestudy-image-container {
    flex-grow: 1;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    padding: 10px;
}

.casestudy-image-container img {
    width: 80%;
}

.project-page-title {
    width: 100%;
}

.project-page-title p {
    margin: 0;
    text-align: center;
    color:#026378;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-size: clamp(0.75em, 2vw, 1.5em);
}

.project-page-title h2 {
    margin: 0;
    text-align: center;
    color:#026378;
    font-size: clamp(1em, 2.5vw, 2.5em);
}

/* Update to change the color of the checked label */
.tab-input:checked + .tab-label {
    background-color: #026378; /* Checked tab color */
    color: #FFFBED;
}

.tab-input:checked + .tab-label:hover {
    border-color:#026378;
}

/* Reset the display of all images to none */
/*.casestudy-image-container .tab-content {
    display: none;
    width: 100%;
}*/

.casestudy-image-container .Discover,
.casestudy-image-container .Define,
.casestudy-image-container .Develop,
.casestudy-image-container .Deliver {
    display: none;
}

/* Show the corresponding image when the radio button is checked */
#Background:checked ~ .casestudy-image-container .Background,
#Discover:checked ~ .casestudy-image-container .Discover,
#Define:checked ~ .casestudy-image-container .Define,
#Develop:checked ~ .casestudy-image-container .Develop,
#Deliver:checked ~ .casestudy-image-container .Deliver {
    display: block;
}


/* Misc. Extras and Adjustments */

.extra-margin-bottom {
    margin-bottom: 40%;
}


/* Responsive design */

@media (min-width: 768px) and (max-width: 1100px) {
    .tabs-container {
        width: 30%;
        margin-top: 10%;
    }

    .casestudy-image-container {
        width: 100%;
        margin-top: 10%;
    }
}

@media (max-width: 768px) {

    .wrapper {
        flex-direction: column;
        margin-right: 1%;
        margin-left: 1%;
    }

    .tabs-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 99%;
        height: 20%;
        background-color: #FFFFFF;
        margin-top: 15%;
        margin-left: 1%;
        top: 4%;
        overflow-x: auto; /* Enable horizontal scrolling */
        overflow-y: hidden; /* Hide vertical scrollbar */
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        z-index: 1;
          }

    .extra-margin-bottom {
        margin-bottom: 10px;
    }

    .project-page-title {
        padding: 3%;
        margin-left: 0;
        position: sticky;
        left: 0;
        background-color: #FFFFFF;
        width: auto;
    }

    .project-page-title p {
        text-align: left;
    }

    .project-page-title h2 {
        text-align: left;
    }

    .tabs {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        width: auto;
        padding: 3%;
    }

    .tab-label {
        margin-right: 3%;
        padding: 2% 2%;
        margin-bottom: 0;
    }

    .casestudy-image-container {
        width: auto;
        margin-left: 0;
        margin-right: 0;

    }

    .casestudy-image-container img {
        width: 100%;
    }
}
/*-----------------------*/

/*resume page*/

.resume-container {
    margin-top: 7%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.resume-image {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    width: auto;
    max-width: 80%;
    height: auto;
}

.download-button {
    background-color:#FFFBED;
    padding: 5px 30px;
    margin-left: 7%;
    margin-right: 5%;
    font-family:'Staatliches', 'Anton', 'Exo', sans-serif;
    font-size: clamp(1em, 5vw, 1.75em);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
    text-align: center;
    white-space: nowrap;
}

.download-button a {
    color:#026378;
}

.download-button a:hover {
    color:#EE98FD;
}

/*resume page mobile styling*/

@media (max-width: 768px) {
    .resume-image {
        max-width: 100%;
        margin-left: 0;
    }

    .resume-image img {
        max-width: 100%;
    }

    .resume-container {
        flex-direction: column;
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        align-items: center;
    }

    .download-button {
        margin: 5%;
    }
}

/*scroll bar styling*/

/*IMAGE CONTAINER SCROLL BARS*/

/* For WebKit browsers (Chrome, Safari) */
.image-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.image-container::-webkit-scrollbar-track {
    background: #FFFBED; /* Background color of the scrollbar track */
}

.image-container::-webkit-scrollbar-thumb {
    background: BLACK; /* Color of the scrollbar thumb */
}

.image-container::-webkit-scrollbar-thumb:hover {
    background:#EE98FD; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.image-container {
    scrollbar-width: auto; /* Width of the scrollbar */
    scrollbar-color: black #FFFBED; /* Color of the scrollbar thumb and track */
}

/* For Microsoft Edge and IE */
.image-container {
    -ms-overflow-style: none; /* Hides the scrollbar */
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color:black #FFFBED; /* Color of the scrollbar thumb and track */
}

/*CASE STUDY PAGE TABS CONTAINER SCROLLBARS*/

.tabs-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.tabs-container::-webkit-scrollbar-track {
    background: #FFFFFF; /* Background color of the scrollbar track */
}

.tabs-container::-webkit-scrollbar-thumb {
    background:#026378; /* Color of the scrollbar thumb */
}

.tabs-container::-webkit-scrollbar-thumb:hover {
    background:#EE98FD; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.tabs-container {
    scrollbar-width: auto; /* Width of the scrollbar */
    scrollbar-color: #026378 #FFFFFF; /* Color of the scrollbar thumb and track */
}

/* For Microsoft Edge and IE */
.tabs-container {
    -ms-overflow-style: none; /* Hides the scrollbar */
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color:#026378 #FFFFFF; /* Color of the scrollbar thumb and track */
}

/*ENTIRE PAGE SCROLLBARS*/

html::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

html::-webkit-scrollbar-track {
    background: #FFFBED; /* Background color of the scrollbar track */
}

html::-webkit-scrollbar-thumb {
    background:#026378; /* Color of the scrollbar thumb */
}

html::-webkit-scrollbar-thumb:hover {
    background:#EE98FD; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
html {
    scrollbar-width: auto; /* Width of the scrollbar */
    scrollbar-color: #026378 #FFFBED; /* Color of the scrollbar thumb and track */
}

/* For Microsoft Edge and IE */
html {
    -ms-overflow-style: none; /* Hides the scrollbar */
    scrollbar-width: auto; /* Width of the scrollbar */
    scrollbar-color:#026378 #FFFBED; /* Color of the scrollbar thumb and track */
}




/*-----------------------*/

/* Footer content */ 

footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically */
    align-items: flex-start; /* Adjust alignment to fit the slanted edge */
    background-color: #026378; /* Placeholder color, adjust as needed */
    clip-path: polygon(0 50%, 100% 10%, 100% 100%, 0 100%);
    color: #FAF2D4;
    z-index: 100; /* Ensure it's above other content */
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: left;
    width: 100%;
    padding: 1em; /* Adjust padding as needed */
    margin-top: 5%;
}

.hand-getintouch {
    margin-left: 15%;
    align-self: start; /* Align SVG to the start of the flex container */
    max-width: 25%; /* Adjust SVG size as needed */
    transform: rotate(-11deg);
    margin-top: 10%;
}

/*.hand-getintouch {
    width: 350px;
    transform: rotate(14deg)
}*/

.footer-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start (left) */
    justify-content: center;
    width: 100%; /* Take the full width of its parent */
    margin-left: 1%;
    margin-top: 5%;
}

.footer-text h2 {
    margin-bottom: 10px;
    /* responsive font-size, min, value, max */
    font-size: clamp(1em, 7vw, 5em);
}

.contact-info {
    display: flex;
    align-items: center; /* Align text and link vertically */
}

.contact-info p {
    margin-right: 0.5em; /* Space between label and link */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: clamp(0.5em, 4vw, 2em);
}

/* Ensure that the <a> tags do not have default styles that misalign them */
.contact-info a {
    text-decoration: none;
    color: inherit; /* Make links the same color as the footer text */
    font-size: clamp(0.5em, 4vw, 2em);
}

.contact-info a:hover {
    color:#EE98FD;
}

@media (max-width: 912px) {

    .footer {
        position: fixed;
        bottom: 0;
    }

    .hand-getintouch {
        margin-left: 13%;
        align-self: end; /* Align SVG to the end of the flex container */
        max-width: 25%; /* Adjust SVG size as needed */
        margin-bottom: 2.5em; /* Space below the SVG */
        transform: rotate(-10deg);
        margin-top: 5%;
    }

    .footer-content {
        margin-top: 20%;
        margin-right: 10%;
    }

}

@media (min-width:912px) and (max-width: 1100px) {

    .hand-getintouch {
        margin-left: 13%;
        align-self: end; /* Align SVG to the end of the flex container */
        max-width: 25%; /* Adjust SVG size as needed */
        margin-bottom: 2.5em; /* Space below the SVG */
        transform: rotate(-10deg);
        margin-top: 10%;
    }

    .footer-content {
        margin-top: 10%;
        margin-right: 10%;
    }

}

/* Additional styling for links and text */


/*footer {
    width: 100%;
    height: 50%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('footer_shape_shorter.png');
    background-size: cover;
    background-position: center;
    color:#FAF2D4
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkedin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.email-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/

/*-------------------------------*/
